.right-sidebar {
    max-width: 404px;
    width: 100%;
    height: calc(100vh - 66px);
    height: 100%;
    position: fixed;
    top: 66px;
    right: 0;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 32px 32px 16px;
}

.right-sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.suggested-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.suggested-title {
    font-size: 18px;
    color: #73767b;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
}

.suggested-image-container {
    position: relative;
    max-height: 360px;
    width: 100%;
    height: 100%;
}

.suggested-image {
    width: 100%;
    max-height: 360px;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.suggested-overlay {
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.groups-button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    background: none;
    border: none;
    cursor: pointer;
}

.groups-icon {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}

.groups-description {
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.find-groups-button {
    padding: 8px 16px;
    background-color: white;
    border-radius: 8px;
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
}

.contacts-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts-title {
    font-size: 18px;
    color: #73767b;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.contact-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-name {
    font-size: 18px;
    color: #3c4147;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}